<ion-header>
  <ion-toolbar>
    <ion-title>Serveur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Tàches</ion-label>
    </ion-list-header>
    <ion-item (click)="ajouterFiltre()">
      <ion-icon slot="start" color="medium" name="cloud-upload"></ion-icon>
      <ion-label>Ajouter filtre serveur</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Compacter la base de données</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Autres...</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
