<ion-header>
  <ion-toolbar> 
    <ion-buttons *ngIf="!idEssai" slot="start">
      <ion-menu-button *ngIf="!mobile || (mobile && action != 'infos' && action != 'modifier' && action != 'ajouter')"></ion-menu-button>
      <ion-button *ngIf="mobile && action != 'liste' && action != 'corbeille' && action != 'archives' && action != 'partages' && action != 'conflits'" ion-button icon-only  (click)="retour()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--Si liste mobile-->
    <ion-buttons *ngIf="mobile && action != 'infos' && action != 'modifier' && action != 'ajouter' && estModeCocherElemListe" slot="start">
      <ion-button ion-button icon-only  (click)="changerModeCocherElemListe()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

      <ion-badge>{{selectedIndexes.length}}</ion-badge>
    </ion-buttons>
      
    
    <ion-title *ngIf="action == 'liste' && !estModeCocherElemListe">{{'ESSAI_PAGE.TITRE_LISTE' | translate}}</ion-title>
    <ion-title *ngIf="action == 'ajouter'">{{'ESSAI_PAGE.TITRE_AJOUTER' | translate}}</ion-title>
    <ion-title *ngIf="action == 'infos'">{{'ESSAI_PAGE.TITRE_INFO' | translate}}</ion-title>
    <ion-title *ngIf="action == 'modifier'">{{'ESSAI_PAGE.TITRE_MODIFIER' | translate}}</ion-title>
    <ion-title *ngIf="action == 'corbeille' && !estModeCocherElemListe">{{'GENERAL.CORBEILLE' | translate}}</ion-title>
    <ion-title *ngIf="action == 'archives' && !estModeCocherElemListe">{{'GENERAL.ARCHIVES' | translate}}</ion-title>
    <ion-title *ngIf="action == 'partages' && !estModeCocherElemListe">{{'GENERAL.PARTAGES' | translate}}</ion-title>
    <ion-title *ngIf="action == 'conflits' && !estModeCocherElemListe">{{'GENERAL.GESTION_DES_CONFLITS' | translate}}</ion-title>

    <ion-buttons *ngIf="mobile && styleAffichage == 'liste' && action == 'infos'" slot="end">

      <ion-button ion-button icon-only (click)="listActionPopover($event)">
        <ion-icon name="ios-build"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--Si liste mobile-->
    <ion-buttons *ngIf="mobile && action != 'infos' && action != 'modifier' && action != 'ajouter'" slot="end">
      <ion-button [class.color-blue]="essaisData.length == selectedIndexes.length" *ngIf="estModeCocherElemListe" (click)="cacherAction()">
        <ion-icon name="done-all"></ion-icon>
      </ion-button>
                 
      <ion-button ion-button icon-only [hidden]="estModeCocherElemListe" (click)="listMorePopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>

      <ion-button ion-button icon-only [hidden]="!estModeCocherElemListe || !selectedIndexes.length" (click)="listActionPopover($event)">
        <ion-icon name="ios-build"></ion-icon>
      </ion-button>
    </ion-buttons>
 
    <ion-buttons *ngIf="(idEssai || idProjet || idPartenaire || idProtocole || idMembre || idChamp)" slot="end">
      <ion-button title="{{'GENERAL.FERMER' | translate}}" ion-button icon-only  (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  
  <!--Les bouton si mot mobile-->
  <ion-toolbar class="toolbar-border-top" *ngIf="!mobile && !idEssai">
    <!--Si tableau-->
    <ng-container *ngIf="action != 'infos' && action != 'modifier' && action != 'ajouter'">
      <ion-buttons style="padding-left: 5px !important" slot="start">
        <ion-button class="button-no-padding" title="{{'GENERAL.SELECTIONNER_TOUS' | translate}}" [hidden]="allSelected || selectedIndexes.length > 0" (click)="dataTableSelectAll()">
          <ion-icon name="square-outline"></ion-icon>
        </ion-button>
        
        <ion-button class="button-no-padding" style="margin: 2px !important" title="{{'GENERAL.DESELECTIONNER_TOUS' | translate}}" [hidden]="allSelected || selectedIndexes.length == 0" (click)="dataTableSelectNon()">
          <i style="font-size: 17px" class="fa fa-minus-square"></i>
        </ion-button>

        <ion-button class="button-no-padding" title="{{'GENERAL.DESELECTIONNER_TOUS' | translate}}" [hidden]="!allSelected" (click)="dataTableSelectNon()">
          <ion-icon name="checkbox"></ion-icon>
        </ion-button>

        <ion-button class="button-no-padding" title="{{'GENERAL.PLUS_DE_ESSAITIONS' | translate}}" (click)="selectionPopover($event)">
          <i style="font-size: 18px" class="fa fa-caret-down"></i>
        </ion-button>

        <ion-button title="{{'GENERAL.RECHERGER_ANNULER' | translate}}" (click)="doRefresh()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-trop-petit-ecran" *ngIf="!recherchePlus" title="{{'GENERAL.AJOUTER_RECHERCHE_PAR_COLONNE' | translate}}" (click)="dataTableAddRechercheParColonne()">
          <i style="font-size: 18px" class="fa fa-search-plus"></i>
        </ion-button>

        <ion-button class="hid-boutons-trop-petit-ecran" *ngIf="recherchePlus" title="{{'GENERAL.SUPPRIMER_RECHERCHE_PAR_COLONNE' | translate}}" (click)="dataTableRemoveRechercheParColonne()">
            <i style="font-size: 18px" class="fa fa-search-minus"></i>
        </ion-button>

        <div class="hid-boutons-petit-ecran barre-verticale">
          <ion-button *ngIf="!filterAjouter"  title="{{'GENERAL.AJOUTER_FILTRE' | translate}}" (click)="dataTableAddCustomFiltre()">
            <!--ion-icon name="ios-funnel"></ion-icon-->
            <i style="font-size: 18px" class="mdi mdi-filter"></i>
          </ion-button>

          <ion-button *ngIf="filterAjouter" title="{{'GENERAL.SUPPRIMER_FILTRE' | translate}}" slot="end" (click)="dataTableRemoveCustomFiltre()">
            <!--ion-icon style="font-size: 18px" src='./../../../assets/svgs/remove-filter-2.svg'></ion-icon-->
            <i style="font-size: 18px" class="mdi mdi-filter-remove"></i>
          </ion-button>
        </div>

        <!--div [class.barre-verticale]="selectedIndexes.length > 0"-->
        <!--/div-->

        <ion-button class="hid-boutons-petit-ecran" [hidden]="action == 'liste'"  title="{{'GENERAL.LISTE_PRINCIPALE' | translate}}" (click)="getEssaisByType('liste')">
          <ion-icon name="ios-undo"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-petit-ecran" [hidden]="action == 'archives'"  title="{{'GENERAL.ARCHIVES' | translate}}" (click)="getEssaisByType('archives')">
          <ion-icon name="archive"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-petit-ecran" [hidden]="action == 'corbeille'" title="{{'GENERAL.CORBEILLE' | translate}}" (click)="getEssaisByType('corbeille')">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-petit-ecran" title="{{'GENERAL.PLUS_DE_ESSAITIONS' | translate}}" (click)="datatableMorePopover($event)">
          <ion-icon name="more"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-grand-ecran" title="{{'GENERAL.PLUS_DE_ESSAITIONS ' | translate}}" (click)="actionDatatablePopover($event)">
          <ion-icon name="more"></ion-icon>
        </ion-button>
        
      </ion-buttons>

      <!--Action pour selection-->
      <ion-buttons slot="end" style="padding-right: 5px !important">
        <ion-button title="{{'GENERAL.AFFICHER_ENREGISTRMENT' | translate}}" slot="end" color="primary" *ngIf="selectedIndexes && selectedIndexes.length > 0" (click)="selectedItemInfo()">
          <ion-icon name="eye"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-petit-ecran" title="{{'GENERAL.MODIFIER_ENREGISTRMENT' | translate}}" slot="end" color="primary" *ngIf="selectedIndexes && selectedIndexes.length > 0 && action != 'corbeille'" (click)="selectedItemModifier()">
          <ion-icon  name="create"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-petit-ecran" title="{{'GENERAL.ACTION' | translate}}" slot="end" color="primary" *ngIf="selectedIndexes && selectedIndexes.length > 0" (click)="datatableConstructPopover($event)">
          <ion-icon name="ios-build"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-grand-ecran" title="{{'GENERAL.ACTION' | translate}}" color="primary" *ngIf="selectedIndexes.length > 0" slot="end" (click)="actionPopover($event)">
          <ion-icon name="ios-build"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
    
    <!--Si infos-->
    <ng-container *ngIf="action == 'infos'">
        <ion-buttons slot="start" style="padding-left: 5px !important">
          <ion-button title="{{'GENERAL.RETOUR' | translate}}" slot="end" (click)="retour()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>

          <ion-button class="hid-boutons-petit-ecran" *ngIf="!unEssai.archived && !unEssai.deleted"  title="{{'GENERAL.MODIFIER' | translate}}" (click)="selectedItemModifier()">
            <ion-icon name="create"></ion-icon>
          </ion-button>

          <ion-button class="hid-boutons-petit-ecran" *ngIf="!unEssai.archived && !unEssai.deleted"  title="{{'GENERAL.ARCHIVER' | translate}}" (click)="archivageMultiple(selectedIndexes)">
            <ion-icon name="md-archive"></ion-icon>
          </ion-button>

          <ion-button class="hid-boutons-petit-ecran" *ngIf="unEssai.archived && !unEssai.deleted"  title="{{'GENERAL.DESARCHIVER' | translate}}" (click)="desarchivageMultiple(selectedIndexes)">
            <ion-icon name="ios-archive"></ion-icon>
          </ion-button>

          <ion-button class="hid-boutons-petit-ecran" *ngIf="!unEssai.archived && unEssai.deleted" title="{{'GENERAL.RESTAURER' | translate}}" (click)="restaurationMultiple(selectedIndexes)">
            <!--ion-icon name="trash"></ion-icon-->
            <i style="font-size: 22px" class="mdi mdi-backup-restore"></i>
          </ion-button>

          <ion-button class="hid-boutons-petit-ecran" color="danger" *ngIf="!unEssai.archived && !unEssai.deleted" title="{{'GENERAL.SUPPRIMER' | translate}}" (click)="suppressionMultiple(selectedIndexes)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>

          <ion-button class="hid-boutons-petit-ecran" color="danger" *ngIf="!unEssai.archived && unEssai.deleted" title="{{'GENERAL.SUPPRIMER' | translate}}" (click)="suppressionMultipleDefinitive(selectedIndexes)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          
          <ion-button class="hid-boutons-petit-ecran" title="{{'GENERAL.PLUS_DE_ESSAITIONS' | translate}}" (click)="datatableConstructPopover($event)">
            <ion-icon name="more"></ion-icon>
          </ion-button>

        </ion-buttons>      
 
        <!--Button vers la droite-->
        <ion-buttons slot="end" style="padding-right: 5px !important">
          {{essaiHTMLTable.datatable.row('.selected').index() + 1}} {{'GENERAL.sur' | translate}} {{essaiHTMLTable.datatable.page.info().recordsTotal}}

          <ion-button [disabled]="!prev" title="{{'GENERAL.PRECEDENT' | translate}}" slot="end" (click)="doPrev()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-button>

          <ion-button [disabled]="!next" title="{{'GENERAL.SUIVANT' | translate}}" slot="end" (click)="doNext()">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-button>
        </ion-buttons>      
      </ng-container>

      <!--Si ajout ou modification--> 
      <ng-container *ngIf="action == 'modifier' || action == 'ajouter'">
        <ion-buttons slot="start" style="padding-left: 5px !important">
          <ion-button title="{{'GENERAL.RETOUR' | translate}}" slot="end" (click)="retour()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-item class="item-no-border" slot="end" style="padding-right: 5px !important"> 
          <ion-button title="{{'GENERAL.SAUVEGARDER' | translate}}" (click)="onSubmit()" type="submit" [disabled]="!essaiForm.valid" color="success">
            <ion-icon name="save"></ion-icon>
          </ion-button>
          <ion-button title="{{'GENERAL.ANNULER' | translate}}" color="light" class="m-l-5" (click)="annuler()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-item>
      </ng-container>
  </ion-toolbar>

</ion-header>

<ion-content class="content">
  
  <ion-refresher *ngIf="mobile && (action == 'liste' || action == 'corbeille' || action == 'archives' || action == 'partages' || action == 'conflits')" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText= "{{'GENERAL.ACTUALISER' | translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'GENERAL.ACTUALISATION' | translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <!--Mode liste-->
  <ion-card [hidden]="action == 'infos' || action == 'modifier' || action == 'ajouter'" *ngIf="(mobile && styleAffichage == 'liste')">
    <ion-card-header class="remove-card-header-padding">
      <ion-item class="card-header-item">
        <ion-searchbar placeholder="{{'GENERAL.RECHERCHER' | translate}}" (ionInput)="filter($event)" mode="ios" animated></ion-searchbar>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <!--ion-searchbar placeholder="{{'GENERAL.RECHERCHER' | translate}}" (ionInput)="filter($event)" mode="ios" animated></ion-searchbar-->
      <ng-container *ngIf="essaisData && essaisData.length > 0">
        <ion-virtual-scroll [items]="essaisData">
          <ion-item-sliding *virtualItem="let p; let i =index">
            <ion-item ion-long-press [interval]="400" (onPressing)="active()" (click)="infos(p)">
              <ion-label>
                <h2 ion-text-capitalize><!--strong>{{'ESSAI_PAGE.NOM' | translate}}:</strong-->{{p.nom}}</h2>
                <h3 ion-text-capitalize>{{p.nomProjet}}</h3>

                <!--h2 ion-text-capitalize>{{p.numero}}</h2-->
                <p ion-text-capitalize><!--strong>{{'ESSAI_PAGE.NUMERO' | translate}}:</strong-->{{p.nomSiege}}</p>
              </ion-label>
              <ion-checkbox [hidden]="!estModeCocherElemListe" (click)="cocherElemListe(p.id)" slot="end"></ion-checkbox>
            </ion-item>
    
            <ion-item-options [hidden]="estModeCocherElemListe" side="start">
              <ion-item-option (click)="modifier(p)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options> 
    
            <ion-item-options [hidden]="estModeCocherElemListe" side="end">
              <ion-item-option color="danger" (click)="supprimer(p)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>  
        </ion-virtual-scroll>    
      </ng-container>
      
      <!--Si la liste est vide-->
      <ion-list *ngIf="!essaisData || !essaisData.length > 0" lines="none">        
        <ion-item class="vide">
          <ion-label>{{'GENERAL.LISTE_VIDE' | translate}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--Mode tableau-->
  <ion-card [hidden]="action == 'infos' || action == 'modifier' || action == 'ajouter'" *ngIf="!mobile">
    <ion-card-content>
      <div *ngIf="!idChamp && !idMembre && !idPartenaire && !idProjet && !idProtocole" class="table-responsive" id="essai"></div>

      <div *ngIf="idChamp || idMembre || idPartenaire || idProjet || idProtocole" class="table-responsive" id="essai-relation"></div>

      <!--Si le tableau est vide>
      <ion-list *ngIf="!essaisData || !essaisData.length > 0" lines="none">        
        <ion-item class="vide">
          <ion-label>{{'GENERAL.LISTE_VIDE' | translate}}</ion-label>
        </ion-item>
      </ion-list-->
    </ion-card-content>
</ion-card>


<!--Infos-->
  <ion-card *ngIf="action == 'infos'">
    <ion-card-content>
      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#infoPanel" role="tab">Info</a>
          <li>
          <li class="nav-item" *ngFor="let f of formulaireData; let i = index">
            <a class="nav-link" data-toggle="tab" href="#tab-{{f.formData.code}}" role="tab">{{f.formData.nom}}</a>
          <li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#security" role="tab">Sécurité</a>
          <li>
        </ul>
        
        <div class="tab-content mt-2" (dblclick)="modifier(unEssai)">
          <div class="tab-pane fade show active" id="infoPanel" role="tabpanel">
            <h4>Informations générales</h4>
            <div class="form-group">
              <ion-row ><ion-col><h2><strong>{{'ESSAI_PAGE.NUMERO' | translate}}:</strong></h2></ion-col><ion-col>{{unEssai.numero}}</ion-col></ion-row>
              <div class="hr"></div>
              <ion-row ><ion-col><h2><strong>{{'ESSAI_PAGE.ANNEE' | translate}}:</strong></h2></ion-col><ion-col>{{unEssai.annee}}</ion-col></ion-row>
              <div class="hr"></div>
              <ion-row><ion-col><h2><strong>{{'GENERAL.INSTITUTION' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentInstitution(unEssai.idInstitution)">{{unEssai.nomInstitution}}</a></ion-col></ion-row>
              <div class="hr"></div>
              <ion-row><ion-col><h2><strong>{{'GENERAL.PROJET' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentProjet(unEssai.idProjet)">{{unEssai.nomProjet}}</a></ion-col></ion-row>
              <div class="hr"></div>
              <ion-row><ion-col><h2><strong>{{'GENERAL.PROTOCOLE' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentProtocole(unEssai.idProtocole)">{{unEssai.nomProtocole}}</a></ion-col></ion-row>
              <div class="hr"></div>
              <ion-row><ion-col><h2><strong>{{'GENERAL.MEMBRE' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentMembre(unEssai.idMembre)">{{unEssai.nomMembre}}</a></ion-col></ion-row>
              <div class="hr"></div>
              <ion-row><ion-col><h2><strong>{{'GENERAL.CHAMP' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentChamp(unEssai.idChamp)">{{unEssai.nomChamp}}</a></ion-col></ion-row>

            </div>

            <!--ng-container *ngIf="formulaireData && formulaireData.length > 0">
              <button class="btn btn-secondary" (click)="contunier($event, formulaireData[0].formData.code)" id="adsContinue">Continue</button>
            </ng-container-->
            
          </div>
          <ng-container *ngFor="let f of formulaireData; let i = index">
            <div class="tab-pane fade" id="tab-{{f.formData.code}}" role="tabpanel">
              <h4>{{f.formData.nom}}</h4>

              <div class="row form-group">
                <div id="show-{{f.formData.code}}"  class="card card-body"></div>
              </div>
              
              <!--button class="btn btn-secondary" id="adsContinue">Continue</button-->
            </div>
          </ng-container>

          <div class="tab-pane fade" id="security" role="tabpanel">
            <h4>Sécurité</h4>
            <div class="form-group">
              <ng-container *ngIf="unEssaiDoc && unEssaiDoc.essais && unEssaiDoc.essais[0] && unEssaiDoc.essais[0].security">
                <ion-row ><ion-col><h2><strong>{{'GENERAL.CREATED_BY' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.created_by}}</ion-col></ion-row>
                <div class="hr"></div>
                <ion-row ><ion-col><h2><strong>{{'GENERAL.CREATED_AT' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.created_at | date: 'dd-MM-yyyy'}} {{unEssaiDoc.essais[0].security.created_at | date: 'HH:mm:ss:ms'}}</ion-col></ion-row>
                <div class="hr"></div>
                <ion-row ><ion-col><h2><strong>{{'GENERAL.UPDATED_BY' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.updated_by}}</ion-col></ion-row>
                <div class="hr"></div>
                <ion-row ><ion-col><h2><strong>{{'GENERAL.UPDATED_AT' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.updated_at | date: 'dd-MM-yyyy'}} {{unEssaiDoc.essais[0].security.updated_at | date: 'HH:mm:ss:ms'}}</ion-col></ion-row>
                <div class="hr"></div>
                <ion-row ><ion-col><h2><strong>{{'GENERAL.NOMBRE_DE_MISE_A_JOUR' | translate}}:</strong></h2></ion-col><ion-col>{{rev}}</ion-col></ion-row>
                
                <ng-container *ngIf="unEssaiDoc.essais[0].security.archived_at && unEssaiDoc.essais[0].security.archived_at != ''">
                  <div class="hr"></div>
                  <ion-row ><ion-col><h2><strong>{{'GENERAL.ARCHIVED_BY' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.archived_by}}</ion-col></ion-row>
                  <div class="hr"></div>
                  <ion-row ><ion-col><h2><strong>{{'GENERAL.ARCHIVED_AT' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.archived_at | date: 'dd-MM-yyyy'}} {{unEssaiDoc.essais[0].security.archived_at | date: 'HH:mm:ss:ms'}}</ion-col></ion-row>
                </ng-container>
                
                
                <ng-container *ngIf="unEssaiDoc.essais[0].security.deleted_at && unEssaiDoc.essais[0].security.deleted_at != ''">
                  <div class="hr"></div>
                  <ion-row ><ion-col><h2><strong>{{'GENERAL.DELETED_BY' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.deleted_by}}</ion-col></ion-row>
                  <div class="hr"></div>
                  <ion-row ><ion-col><h2><strong>{{'GENERAL.DELETED_AT' | translate}}:</strong></h2></ion-col><ion-col>{{unEssaiDoc.essais[0].security.deleted_at | date: 'dd-MM-yyyy'}} {{unEssaiDoc.essais[0].security.deleted_at | date: 'HH:mm:ss:ms'}}</ion-col></ion-row>  
                </ng-container>
            
              </ng-container>
              
            </div>

            <!--button class="btn btn-secondary" id="adsContinue">Continue</button-->
          </div>
        </div>   
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="action == 'ajouter' || action == 'modifier'">
    
    <ion-card-content>

      <div class="card">
        <!--h2 id="heading">Sign Up Your User Account</h2>
        <p>Fill all form field to go to next step</p-->
        <form [formGroup]="essaiForm" id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active" id="personal" title="Informations générales"><strong>Infos</strong></li>
                <ng-container *ngFor="let f of formulaireData; let i = index">
                  <li id="account" title="Formulaire de collecte"><strong>Formulaire <ng-container *ngIf="formulaireData.length > 1">{{i+1}}</ng-container></strong></li>
                </ng-container>
                
                <!--li id="payment"><strong>Image</strong></li-->
                <li id="confirm"><strong>Terminer</strong></li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div> <br> <!-- fieldsets -->
            <fieldset>
                <div class="form-card">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Informations générales:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Etape {{etapeCourante}} - {{nbEtapes}}</h2>
                        </div>
                    </div> 
                        
                  <ion-row>
                    <!--Année-->
                    <ion-col>
                      <div id="annee" class="form-group has-feedback">
                        <label>{{'ESSAI_PAGE.ANNEE' | translate}}</label>
                        <input ion-input [(ngModel)]="annee" value=annee [ngModelOptions]="{standalone: true}" data-provide="datepicker" type="text" class="form-control">
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                      </div>
                    </ion-col>

                    <!--Institution-->
                    <ion-col>
                      <div id="idInstitution" class="form-group has-feedback">
                        <label class="control-label field-required">{{'ESSAI_PAGE.SELECTIONINSTITUTION' | translate}}</label>
                        <select class="select2 form-control" data-allow-clear="1">
                          <option></option>
                          <option *ngFor="let u of institutionData" [value]=u.id >{{u.nom}}</option>
                        </select>

                        <div class="formio-errors invalid-feedback">
                          <ng-container *ngFor="let validation of messages_validation.idInstitution">
                            <p class="help-block" *ngIf="essaiForm.get('idInstitution').hasError(validation.type)">
                              {{ validation.message }}
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <!--Projet-->
                    <ion-col>
                      <div id="idProjet" class="form-group has-feedback">
                        <label class="control-label field-required">{{'ESSAI_PAGE.SELECTIONPROJET' | translate}}</label>
                        <select class="select2 form-control" data-allow-clear="1">
                          <option></option>
                          <option *ngFor="let u of projetData" [value]=u.id >{{u.nom}}</option>
                        </select>

                        <div class="formio-errors invalid-feedback">
                          <ng-container *ngFor="let validation of messages_validation.idProjet">
                            <p class="help-block" *ngIf="essaiForm.get('idProjet').hasError(validation.type)">
                              {{ validation.message }}
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </ion-col>

                    <!--Protocole-->
                    <ion-col>
                      <div id="idProtocole" class="form-group has-feedback">
                        <label class="control-label field-required">{{'ESSAI_PAGE.SELECTIONPROTOCOLE' | translate}}</label>
                        <select class="select2 form-control" data-allow-clear="1">
                          <option></option>
                          <option *ngFor="let p of protocoleData" [value]=p.id >{{p.nom}}</option>
                        </select>

                        <div class="formio-errors invalid-feedback">
                          <ng-container *ngFor="let validation of messages_validation.idProtocole">
                            <p class="help-block" *ngIf="essaiForm.get('idProtocole').hasError(validation.type)">
                              {{ validation.message }}
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>


                  <ion-row>
                    <!--Membre-->
                    <ion-col>
                      <div id="idMembre" class="form-group has-feedback">
                        <label class="control-label field-required">{{'ESSAI_PAGE.SELECTIONMEMBRE' | translate}}</label>
                        <select class="select2 form-control" data-allow-clear="1">
                          <option></option>
                          <option *ngFor="let u of membreData" [value]=u.id >{{u.nom}}</option>
                        </select>

                        <div class="formio-errors invalid-feedback">
                          <ng-container *ngFor="let validation of messages_validation.idMembre">
                            <p class="help-block" *ngIf="essaiForm.get('idMembre').hasError(validation.type)">
                              {{ validation.message }}
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </ion-col>

                    <!--Champ-->
                    <ion-col>
                      <div id="idChamp" class="form-group has-feedback">
                        <label class="control-label field-required">{{'ESSAI_PAGE.SELECTIONCHAMP' | translate}}</label>
                        <select class="select2 form-control" data-allow-clear="1">
                          <option></option>
                          <option *ngFor="let c of champData" [value]=c.id >{{c.nom}}</option>
                        </select>

                        <div class="formio-errors invalid-feedback">
                          <ng-container *ngFor="let validation of messages_validation.idChamp">
                            <p class="help-block" *ngIf="essaiForm.get('idChamp').hasError(validation.type)">
                              {{ validation.message }}
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                          
                  <!--br>
                  <ion-row>
                    <ion-col>
                      <div class="form-group text-right m-b-0">
                        <ion-button type="submit" [disabled]="!essaiForm.valid" (click)="onSubmit()" color="success" block>{{'GENERAL.SAUVEGARDER' | translate}}</ion-button>
                        <ion-button color="light" class="m-l-5" (click)="annuler()" block>{{'GENERAL.ANNULER' | translate}}</ion-button>
                      </div> 
                    </ion-col>
                  </ion-row-->


                </div> 
                <input type="button" name="next" [disabled]="!essaiForm.valid" class="next action-button" value="Suivant" />
            </fieldset>

            <ng-container *ngFor="let f of formulaireData">
              <fieldset>
                <div class="form-card">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">{{f.formData.nom}}:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Etape {{etapeCourante}} - {{nbEtapes}}</h2>
                        </div>
                    </div> 
                    
                    <div class="row">
                      <div [id]=f.formData.code class="card card-body"></div>
                    </div>
                       
                </div> 
                <input type="button" [hidden]="!(formioFormsData[f.formData.code] && formioFormsData[f.formData.code].submit)" name="next" [disabled]="!essaiForm.valid" class="next action-button" value="Suivant" /> 
                <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
              </fieldset>
            </ng-container>
            <!--fieldset>
                <div class="form-card">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Image Upload:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Etape {{etapeCourante}} - {{nbEtapes}}</h2>
                        </div>
                    </div> <label class="fieldlabels">Upload Your Photo:</label> <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                </div> 
                <input type="button" name="next" [disabled]="!essaiForm.valid" class="next action-button" value="Suivant" /> 
                <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
            </fieldset-->
            
            <fieldset>
                <div class="form-card">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Terminer:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Etape {{etapeCourante}} - {{nbEtapes}}</h2>
                        </div>
                    </div> <br><br>
                    <!--h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br-->
                    <div class="row justify-content-center">
                        <div class="col-3"> <img src="./assets/img/success1.png" class="fit-image"> </div>
                    </div> <br><br>
                    <div class="row justify-content-center">
                        <div class="col-7 text-center">
                            <h5 class="purple-text text-center">Bravo! Vous avez terminé avec succès.</h5>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                  <input type="button" name="next" [disabled]="!essaiForm.valid" (click)="onSubmit()" class="next action-button m-l-5" value="{{'GENERAL.SAUVEGARDER' | translate}}" /> 
                  <input type="button" name="previous" class="previous action-button-previous m-l-5" (click)="annuler()" value="{{'GENERAL.ANNULER' | translate}}" />
                </div>
            </fieldset>
        </form>
    </div>

    </ion-card-content>
  </ion-card>

  <br><br><br>
  <ion-fab *ngIf="!mobile && action == 'liste'" (click)="ajouter()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="mobile && action == 'liste' && !selectedIndexes.length" (click)="ajouter()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="mobile && !idEssai && action == 'infos' && cacheAction == 'liste'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="modifier(unEssai)" color="primary"><ion-icon name="create"></ion-icon></ion-fab-button>
  </ion-fab>

  
  <ion-fab *ngIf="!mobile && !idEssai && action == 'infos' && cacheAction == 'liste'" (click)="modifier(unEssai)" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
