<ion-header>
  <ion-toolbar> 
    <ion-buttons *ngIf="!codeVillage" slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button *ngIf="action != 'liste'" ion-button icon-only color="royal" (click)="retour()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <!--Si liste mobile-->
    <ion-buttons *ngIf="mobile && action == 'liste' && estModeCocherElemListe" slot="start">
      <ion-button ion-button icon-only color="royal" (click)="changerModeCocherElemListe()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

      <ion-badge>{{seletedIndexes.length}}</ion-badge>
    </ion-buttons>

    <ion-title *ngIf="action == 'liste'  && !estModeCocherElemListe">{{'VILLAGE_PAGE.TITRE_LISTE' | translate}}</ion-title>
    <ion-title *ngIf="action == 'ajouter'">{{'VILLAGE_PAGE.TITRE_AJOUTER' | translate}}</ion-title>
    <ion-title *ngIf="action == 'infos'">{{'VILLAGE_PAGE.TITRE_INFO' | translate}}</ion-title>
    <ion-title *ngIf="action == 'modifier'">{{'VILLAGE_PAGE.TITRE_MODIFIER' | translate}}</ion-title>

    <ion-buttons *ngIf="!codeVillage && action == 'infos'" slot="end">
      <ion-button ion-button icon-only color="royal" (click)="openRelationVillage($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--Si liste mobile-->
    <ion-buttons *ngIf="mobile && action == 'liste'" slot="end">
      <ion-button *ngIf="seletedIndexes.length > 0" color="danger" (click)="supprimerElemCocherListe()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
                
      <ion-button ion-button icon-only (click)="listOptionsPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--Close-->
    <ion-buttons *ngIf="codeVillage || (codePays && action == 'liste')" slot="end">
      <ion-button ion-button icon-only color="royal" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
  <ion-refresher *ngIf="action == 'liste'" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText= "{{'GENERAL.ACTUALISER' | translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'GENERAL.ACTUALISATION' | translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <!--Mode liste-->
  <ion-card mode="ios" [hidden]="action != 'liste'" *ngIf="(mobile && styleAffichage == 'liste')">
    <ion-card-header>
      <ion-item class="card-header-item">
        <ion-card-title>{{'GENERAL.LISTE' | translate}} villages</ion-card-title>
        <!--ion-button fill="outline" (click)="changeStyle()" slot="end">{{'GENERAL.MODE_TABLEAU' | translate}}</ion-button-->
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="{{'GENERAL.RECHERCHER' | translate}}" (ionInput)="filter($event)" mode="ios" animated></ion-searchbar>
      <ng-container *ngIf="villages && villagesData && villagesData.length > 0">
        <ion-virtual-scroll [items]="villagesData">
          <ion-item-sliding *virtualItem="let v">
            <ion-item (click)="infos(v)">
              <ion-label>
                <h2><strong>{{'VILLAGE_PAGE.CODE' | translate}}:</strong> {{v.codeVillage}}</h2>
                <h2><strong>{{'VILLAGE_PAGE.NUMERO' | translate}}:</strong> {{v.numeroVillage}}</h2>
                <h2><strong>{{'VILLAGE_PAGE.NOM' | translate}}:</strong> {{v.nomVillage}}</h2>
              </ion-label>
              <ion-checkbox [hidden]="!estModeCocherElemListe" (click)="cocherElemListe(v.codeVillage)" slot="end"></ion-checkbox>
            </ion-item>
    
            <ion-item-options [hidden]="estModeCocherElemListe" side="start">
              <ion-item-option (click)="modifier(v)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options> 
    
            <ion-item-options [hidden]="estModeCocherElemListe" side="end">
              <ion-item-option color="danger" (click)="supprimer(v)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>  
        </ion-virtual-scroll>    
      </ng-container>
      
      <!--Si la liste est vide-->
      <ion-list *ngIf="!villages || !villagesData || !villagesData.length > 0" lines="none">        
        <ion-item class="vide">
          <ion-label>{{'GENERAL.LISTE_VIDE' | translate}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--Mode tableau-->
  <ion-card mode="ios" [hidden]="action != 'liste'" *ngIf="(mobile && styleAffichage == 'tableau') || !mobile">
    <ion-card-header>
      <!--ion-card-title>{{'GENERAL.LISTE' | translate}} région</ion-card-title-->
      <ion-item class="card-header-item">
        <ion-card-title>{{'GENERAL.LISTE' | translate}} villages</ion-card-title>
        <!--ion-button *ngIf="!mobile && action == 'liste' && seletedIndexes.length" slot="end" (click)="actionPopover($event)">
          {{'GENERAL.ACTION' | translate}}
          <ion-icon slot="start" name="ios-arrow-down"></ion-icon>
        </ion-button-->

        
        <ion-buttons class="hid-boutons" *ngIf="villages && villagesData && villagesData.length > 0" slot="end">

          <ion-button title="{{'GENERAL.SELECTIONNER_TOUS' | translate}}" *ngIf="!allSelected" slot="end" (click)="dataTableSelectAll()">
            <ion-icon name="square-outline"></ion-icon>
          </ion-button>

          <ion-button title="{{'GENERAL.DESELECTIONNER_TOUS' | translate}}" *ngIf="!allSelected && seletedIndexes.length > 0" slot="end" (click)="dataTableSelectNon()">
            <i style="font-size: 18px" class="fa fa-minus-square"></i>
          </ion-button>

          <ion-button title="{{'GENERAL.DESELECTIONNER_TOUS' | translate}}" *ngIf="allSelected" slot="end" (click)="dataTableSelectNon()">
            <ion-icon name="checkbox"></ion-icon>
          </ion-button>

          <ion-button title="{{'GENERAL.RECHERGER_ANNULER' | translate}}" slot="end" (click)="doRefresh()">
            <ion-icon name="refresh"></ion-icon>
          </ion-button>

          <ion-button *ngIf="!recherchePlus" title="{{'GENERAL.AJOUTER_RECHERCHE_PAR_COLONNE' | translate}}" slot="end" (click)="dataTableAddRechercheParColonne()">
              <i style="font-size: 18px" class="fa fa-search-plus"></i>
          </ion-button>

          <ion-button *ngIf="recherchePlus" title="{{'GENERAL.SUPPRIMER_RECHERCHE_PAR_COLONNE' | translate}}" slot="end" (click)="dataTableRemoveRechercheParColonne()">
              <i style="font-size: 18px" class="fa fa-search-minus"></i>
          </ion-button>

          <div [class.barre-verticale]="seletedIndexes.length > 0">
            <ion-button *ngIf="!filterAjouter" [class.marge-pour-barre-verticale]="seletedIndexes.length > 0" title="{{'GENERAL.AJOUTER_FILTRE' | translate}}" slot="end" (click)="dataTableAddCustomFiltre()">
              <ion-icon name="ios-funnel"></ion-icon>
            </ion-button>

            <ion-button *ngIf="filterAjouter" [class.marge-pour-barre-verticale]="seletedIndexes.length > 0" title="{{'GENERAL.SUPPRIMER_FILTRE' | translate}}" slot="end" (click)="dataTableRemoveCustomFiltre()">
                <ion-icon style="font-size: 18px" src='../../../assets/svgs/remove-filter-2.svg'></ion-icon>
              </ion-button>
          </div>

          <ion-button title="{{'GENERAL.AFFICHER_ENREGISTRMENT' | translate}}" slot="end" color="primary" *ngIf="seletedIndexes.length == 1" (click)="selectedItemInfo()">
            <ion-icon name="eye"></ion-icon>
          </ion-button>

          <ion-button title="{{'GENERAL.MODIFIER_ENREGISTRMENT' | translate}}" slot="end" color="primary" *ngIf="seletedIndexes.length == 1" (click)="selectedItemModifier()">
            <ion-icon  name="create"></ion-icon>
          </ion-button>

          <ion-button title="{{'GENERAL.ENREGISTRMENTS_LIES' | translate}}" slot="end" color="primary" *ngIf="seletedIndexes.length == 1" (click)="openRelationVillageDepuisListe($event)">
            <ion-icon name="redo"></ion-icon>
          </ion-button>

          <ion-button title="{{'GENERAL.SUPPRIMER_ENREGISTRMENTS' | translate}}" slot="end" color="danger" *ngIf="seletedIndexes.length > 0" (click)="suppressionMultiple()">
            <ion-icon  name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
        
        <ion-buttons class="hid-action" *ngIf="villages && villagesData && villagesData.length > 0" slot="end">
          
          <div [class.barre-verticale]="seletedIndexes.length > 0">
            <ion-button [class.marge-pour-barre-verticale]="seletedIndexes.length > 0" title="{{'GENERAL.OPTIONS ' | translate}}" slot="end" (click)="actionDatatablePopover($event)">
              <ion-icon name="more"></ion-icon>
            </ion-button>
          </div>
          <ion-button title="{{'GENERAL.ACTION' | translate}}" fill="solid" color="primary" *ngIf="seletedIndexes.length > 0" slot="end" (click)="actionPopover($event)">
              <ion-icon name="construct"></ion-icon>
          </ion-button>
        </ion-buttons>


        <!--ion-button fill="outline" *ngIf="villages && villagesData && villagesData.length > 0 &&mobile && styleAffichage == 'tableau'" (click)="changeStyle()" slot="end">{{'GENERAL.MODE_LISTE' | translate}}</ion-button-->
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <!--les boutton export pour mobile-->
      <!--ng-container *ngIf="mobile && styleAffichage == 'tableau'">
        <ion-button size="small" (click)="exportExcel()" block>Excel</ion-button>
        <--ion-button size="small" color="light" class="m-l-5" (click)="exportPDF()" block>PDF</ion-button->
        <br>    
      </ng-container-->
      <!--Le tabelau-->
      <!--Toutes les villages-->
      <div *ngIf="(!codePays || !codeRegion || !codeDepartement || !codeCommune) && villages && villagesData && villagesData.length > 0" class="table-responsive" id="village"></div>
      
      <!--les région du pays sélectionnée-->
      <div *ngIf="(codePays || codeRegion || codeDepartement || codeCommune) && villages && villagesData && villagesData.length > 0" class="table-responsive" id="village-pays"></div>
      <!--Si le tableau est vide-->
      <ion-list *ngIf="!villages || !villagesData || !villagesData.length > 0" lines="none">        
        <ion-item class="vide">
          <ion-label>{{'GENERAL.LISTE_VIDE' | translate}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
</ion-card>


<!--Infos-->
  <ion-card  mode="ios" *ngIf="action == 'infos'">
    <ion-card-header>
        <ion-item class="card-header-item">
          <ion-card-title>{{'GENERAL.INFOS' | translate}} {{unVillage.nomVillage}}</ion-card-title>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.PAYS' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentPays(unVillage.codePays)">{{unVillage.nomPays}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.REGION' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentRegion(unVillage.codeRegion)">{{unVillage.nomRegion}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.DEPARTEMENT' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentDepartement(unVillage.codeDepartement)">{{unVillage.nomDepartement}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.COMMUNE' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentCommune(unVillage.codeCommune)">{{unVillage.nomCommune}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row><ion-col><h2><strong>{{'VILLAGE_PAGE.CODE' | translate}}:</strong></h2></ion-col><ion-col>{{unVillage.codeVillage}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row><ion-col><h2><strong>{{'VILLAGE_PAGE.NUMERO' | translate}}:</strong></h2></ion-col><ion-col>{{unVillage.numeroVillage}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'VILLAGE_PAGE.NOM' | translate}}:</strong></h2></ion-col><ion-col>{{unVillage.nomVillage}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'VILLAGE_PAGE.TYPE' | translate}}:</strong></h2></ion-col><ion-col>{{unVillage.typeVillage}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'VILLAGE_PAGE.AUTRETYPE' | translate}}:</strong></h2></ion-col><ion-col>{{unVillage.autreTypeVillage}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.LATITUDE' | translate}}:</strong></h2></ion-col><ion-col>{{unVillage.latitude}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.LONGITUDE' | translate}}:</strong></h2></ion-col><ion-col>{{unVillage.longitude}}</ion-col></ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card  mode="ios" *ngIf="action == 'ajouter' || action == 'modifier'" padding>
    <ion-card-header>
      <ion-item class="card-header-item">
        <ion-card-title *ngIf="action == 'ajouter'">{{'VILLAGE_PAGE.FORMULAIRE_AJOUT' | translate}}</ion-card-title>
        <ion-card-title *ngIf="action == 'modifier'">{{'VILLAGE_PAGE.FORMULAIRE_MODIFICATION' | translate}}</ion-card-title>
      
        <ion-button title="{{'GENERAL.SAUVEGARDER' | translate}}" slot="end" (click)="onSubmit()" type="submit" [disabled]="!villageForm.valid" color="success" block>
          <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button title="{{'GENERAL.ANNULER' | translate}}" slot="end" color="light" class="m-l-5" (click)="annuler()" block>
            <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="villageForm" (ngSubmit)="onSubmit()">
        <!--Info pays et région-->

        <ion-row>
          <!--Pays-->
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'VILLAGE_PAGE.SELECTIONPAYS' | translate}} <span class="required">*</span></ion-label>
              <ion-select formControlName="codePays" (ionChange)="setNomPays(villageForm.value.codePays)" cancelText="{{'GENERAL.ANNULER' | translate}}" okText="{{'GENERAL.OK' | translate}}" >
                <ion-select-option title="{{p.codePays}} - {{p.nomPays}}" *ngFor="let p of paysData" [value]=p.codePays >{{p.codePays}} - {{p.nomPays}}</ion-select-option>
              </ion-select>
            </ion-item> 
            <div class="validation-errors">
              <ng-container *ngFor="let validation of messages_validation.codePays">
                <div class="error-message" *ngIf="villageForm.get('codePays').hasError(validation.type) && (villageForm.get('codePays').dirty || villageForm.get('codePays').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <!--Région-->
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'VILLAGE_PAGE.SELECTIONREGION' | translate}} <span class="required">*</span></ion-label>
              <ion-select formControlName="codeRegion" (ionChange)="setNomRegion(villageForm.value.codeRegion)" cancelText="{{'GENERAL.ANNULER' | translate}}" okText="{{'GENERAL.OK' | translate}}" >
                <ion-select-option title="{{r.codeRegion}} - {{r.nomRegion}}" *ngFor="let r of regionData" [value]=r.codeRegion >{{r.codeRegion}} - {{r.nomRegion}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of messages_validation.codeRegion">
                <div class="error-message" *ngIf="villageForm.get('codeRegion').hasError(validation.type) && (villageForm.get('codeRegion').dirty || villageForm.get('codeRegion').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <!--Département et commune-->
        <ion-row>
          <ion-col>
            <!--Département-->
            <ion-item>
              <ion-label position="floating">{{'VILLAGE_PAGE.SELECTIONDEPARTEMENT' | translate}} <span class="required">*</span></ion-label>
              <ion-select formControlName="codeDepartement" (ionChange)="setNomDepartement(villageForm.value.codeDepartement)" cancelText="{{'GENERAL.ANNULER' | translate}}" okText="{{'GENERAL.OK' | translate}}" >
                <ion-select-option *ngFor="let d of departementData" title="{{d.codeDepartement}} - {{d.nomDepartement}}" [value]=d.codeDepartement >{{d.nomDepartement}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of messages_validation.codeDepartement">
                <div class="error-message" *ngIf="villageForm.get('codeDepartement').hasError(validation.type) && (villageForm.get('codeDepartement').dirty || villageForm.get('codeDepartement').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col>
            <!--Commune-->
            <ion-item>
                <ion-label position="floating">{{'VILLAGE_PAGE.SELECTIONCOMMUNE' | translate}} <span class="required">*</span></ion-label>
                <ion-select formControlName="codeCommune" (ionChange)="setNomCommune(villageForm.value.codeCommune)" cancelText="{{'GENERAL.ANNULER' | translate}}" okText="{{'GENERAL.OK' | translate}}" >
                  <ion-select-option *ngFor="let c of communeData" title="{{c.codeCommune}} - {{c.nomCommune}}" [value]=c.codeCommune >{{c.nomCommune}}</ion-select-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of messages_validation.codeCommune">
                  <div class="error-message" *ngIf="villageForm.get('codeCommune').hasError(validation.type) && (villageForm.get('codeCommune').dirty || villageForm.get('codeCommune').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
          </ion-col>
        </ion-row>
        

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'VILLAGE_PAGE.NUMERO' | translate}} <span class="required">*</span></ion-label>
              <ion-input formControlName="numeroVillage" type="text" class="form-controll" (ionBlur)="setCodeVillage(villageForm.value.numeroVillage)" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of messages_validation.numeroVillage">
                <div class="error-message" *ngIf="villageForm.get('numeroVillage').hasError(validation.type) && (villageForm.get('numeroVillage').dirty || villageForm.get('numeroVillage').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'VILLAGE_PAGE.CODE' | translate}} <span class="required">*</span></ion-label>
              <ion-input formControlName="codeVillage" type="text" class="form-controll" required readonly></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of messages_validation.codeVillage">
                <div class="error-message" *ngIf="villageForm.get('codeVillage').hasError(validation.type) && (villageForm.get('codeVillage').dirty || villageForm.get('codeVillage').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>  

        <ion-item>
            <ion-label position="floating">{{'VILLAGE_PAGE.NOM' | translate}} <span class="required">*</span></ion-label>
            <ion-input formControlName="nomVillage" type="text"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of messages_validation.nomVillage">
            <div class="error-message" *ngIf="villageForm.get('nomVillage').hasError(validation.type) && (villageForm.get('nomVillage').dirty || villageForm.get('nomVillage').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">{{'VILLAGE_PAGE.TYPE' | translate}} <span class="required">*</span></ion-label>
          <ion-select formControlName="typeVillage" cancelText="{{'GENERAL.ANNULER' | translate}}" okText="{{'GENERAL.OK' | translate}}" >
              <ion-select-option *ngFor="let t of typesVillage" [value]=t >{{t}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of messages_validation.typeVillage">
            <div class="error-message" *ngIf="villageForm.get('typeVillage').hasError(validation.type) && (villageForm.get('typeVillage').dirty || villageForm.get('typeVillage').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="villageForm.value.typeVillage == 'Autre'">
          <ion-item>
            <ion-label position="floating">{{'VILLAGE_PAGE.AUTRETYPE' | translate}} <span class="required">*</span></ion-label>
            <ion-input formControlName="autreTypeVillage" type="text" [required]="villageForm.value.typeVillage == 'Autre'"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of messages_validation.autreTypeVillage">
              <div class="error-message" *ngIf="villageForm.get('autreTypeVillage').hasError(validation.type) && (villageForm.get('autreTypeVillage').dirty || villageForm.get('autreTypeVillage').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
      </ng-container>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'GENERAL.LATITUDE' | translate}}</ion-label>
              <ion-input formControlName="latitude" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'GENERAL.LONGITUDE' | translate}}</ion-label>
              <ion-input formControlName="longitude" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <br>
        <div class="form-group text-right m-b-0">
            <ion-button type="submit" [disabled]="!villageForm.valid" color="success" block>{{'GENERAL.SAUVEGARDER' | translate}}</ion-button>
            <ion-button color="light" class="m-l-5" (click)="annuler()" block>{{'GENERAL.ANNULER' | translate}}</ion-button>
        </div> 
      </form>
    </ion-card-content>
  </ion-card>

  <br><br><br>
  <ion-fab *ngIf="action == 'liste'" (click)="ajouter()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--ion-fab *ngIf="mobile && action == 'liste' && seletedIndexes.length" (click)="actionActionSheet()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
  </ion-fab-->

  <ion-fab *ngIf="!codeVillage && action == 'infos'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success"><ion-icon name="arrow-dropup"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="supprimer(unVillage)" color="danger"><ion-icon name="trash"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="modifier(unVillage)" color="primary"><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab *ngIf="action == 'ajouter' || action == 'modifier'" (click)="getPosition()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
