<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tableau de bord
    </ion-title>
    <ion-buttons slot="end">
      <ion-button ion-button icon-only color="royal" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content class="content">
  <ion-card (click)="onChange()">
    <ion-img src="./assets/img/meteo.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Météo</ion-card-subtitle>
      <ion-card-title>Bienvenue sur FRNA2</ion-card-title>
      <button ion-button ion-long-press [interval]="1000" (onPressing)="active()"></button>
    </ion-card-header>
    <ion-card-content>
      <!--p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p-->
    </ion-card-content>
  </ion-card>

  <!-- class="container">
      <h1>Upload cropped image to server</h1>
      <label class="label" data-toggle="tooltip" title="Change your avatar">
        <img class="rounded" id="avatar" src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
        <input type="file" class="sr-only" id="input" name="image" accept="image/*">
      </label>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
      <div class="alert" role="alert"></div>
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Crop the image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="img-container">
                <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="crop">Crop</button>
            </div>
          </div>
        </div>
      </div>
    </div-->
  <!--ion-item>
    <ion-label>Port</ion-label>
    <ionic-selectable
      [(ngModel)]="port"
      [items]="ports"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="portChange($event)">
    </ionic-selectable>
  </ion-item-->

  <!--br>
  <ion-card padding>
      <ion-card-header>
          <--ion-card-title>{{'GENERAL.LISTE' | translate}} pays</ion-card-title->
          <ion-item class="card-header-item">
            <ion-card-title> Tableau</ion-card-title>
            <ion-buttons slot="end">

                <div class="fa-layers fa-3x fa-fw">
                    <span class="fa fa-filter"></span>
                    <span class="fa fa-times" data-fa-transform="right-7 down-6 shrink-5"></span>
                  </div>
                  <hr>
                  <div class="fa-layers fa-3x fa-fw">
                    <span class="fa fa-slash" data-fa-mask="fa fa-filter" data-fa-transform="down-1.5 left-0.5"></span>
                    <span class="fa fa-slash" data-fa-transform="left-0.5"></span>
                  </div>

                <span class="icon-stack">
                    <i style="font-size: 18px" class="fa fa-filter fa fa-stack-base"></i>
                    <i class="fa fa-remove"></i>
                  </span>

                <ion-button fill="solid" color="primary" slot="end" >
                  <i class="fa fa-wrench"></i>
                  <ion-icon slot="end" name="ios-arrow-down"></ion-icon>
                </ion-button>
      
                <ion-button slot="end" ion-button icon-only color="royal">
                    <ion-icon name="square-outline"></ion-icon>
                    <ion-icon name="arrow-dropdown"></ion-icon>
                </ion-button>
                <ion-button slot="end" ion-button icon-only color="royal">
                    <ion-icon name="checkbox-outline"></ion-icon>
                </ion-button>
                <ion-button slot="end" ion-button icon-only color="royal">
                  <i class="fa fa-filter"></i>
                </ion-button>
              </ion-buttons>        
          </ion-item>
        </ion-card-header>
        <ion-card-content>
            <div class="table-responsive" id="diva"></div>
        </ion-card-content>
      
  </ion-card-->
  
  <!--ion-card class="welcome-card">
    <div id='builder'></div>
  </ion-card>
  
  <div class="well jsonviewer">
    <pre id="json"><code class="language-json" #json></code></pre>
  </div>
  <div class="well jsonviewer">
    <div id='formio'></div>
  </div-->

  <!--div id="tt"></div-->
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Résumé<br> Bientôt ici vont safficher les statistiques sur:</ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Le nombre de protocole par projet de par année</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>L'état de collecte de données de par protocole</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Autres...</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Guide d'utilisation</ion-label>
    </ion-item>
  </ion-list>
  <!--ion-footer>
<ion-toolbar>
  <ion-title>Footer</ion-title>
</ion-toolbar>
</ion-footer-->
</ion-content>

