// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /**Personnelles**/
  .vide {
    --background: #f9f9f9;
    //background: #f9f9f9;
  }

  /*.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable), .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
    border-radius: var(--ck-border-radius);
    //border: black;
    border-color: #c4c4c4;
}*/

  .split-pane-visible > .split-pane-side {
    max-width: 15%;
  }


  /*.alert-title{
    color:red;
  }*/

  .title-danger{
    color:red;
  }

  /*.alert-message{
    //color:#e7333c;
    font-size: 15px;
   // background-color: red;
  }*/

  /*.alert-danger{
    color:red;
  }*/

  ion-toolbar{
    //--color: #ffffff;
    //--background: #007bff /*#9f3302*/;
  }

  .costom-modal{
    --height: 95%;
    --width: 95%
  }

  .costom-connexion-modal{
    --height: 290px;
    --width: 400px;
    //margin-top: auto;
    //margin-bottom: auto;
    //background-color: rgba(0,0,0,0.5) !important;
  }

  .card-header-item{
    --padding-start: 0px;
    --padding-end : 0px;
    --inner-padding-end: 0px; 
    --inner-padding-start:0px;
    //--inner-border-width: 20px; 
    //border-bottom: 2px solid !important;
  }

  .item-no-border{
    --inner-border-width: 0px !important;
    border : 0px !important;
    border-width: 0px !important; 
    //--inner-padding-start:0px;
    //--inner-border-width: 20px; 
    //border-bottom: 2px solid !important;
  }


  /*********Pour la page info, lien clicker pour voir le parent********/
  .pointer {
    cursor: pointer;
  }

  .lien{
    color: blue !important;
  }

  .lien:hover{
      color: blue !important;
      text-decoration-line: underline !important;
  }

  .color-blue{
    color: blue !important;
  }

  .remove-card-header-padding{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .remove-all-padding{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .groupe{

  }
  .groupe:hover{
    cursor: pointer !important;
    background-color: #ccced2 !important;
  }

  .toolbar-border-top{
    border-top: 1px solid #ccc !important;
    --border-top: 1px solid #ccc !important;
    //border-bottom: 1px solid #ccc !important;
  }
/*ion-content {
    --background : #f3f3f3;
}*/

/*.w{
  --width: 200 !important;
  //--max-width: 100px;

}*/

ion-popover{
  --width: 200px ;
  //--max-width: 100px;
}

ion-card {
  --background: #ffffff;
  //background: default;
}

.color-primary{
  color:#3880ff;
}

.button-no-padding{
  //--padding-bottom: 0px;
  --margin-end: 0px;
  --margin-start: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  padding: 0px;
  margin: 0px;
  //--padding-top: 0px;
  --inner-padding-end: 0px; 
  --inner-padding-start:0px;
  //--inner-border-width: 20px; 
  //border-bottom: 2px solid !important;
}


.content {
  --background: #f3f3f3;
}

.hr {
  border-bottom: 1px solid #ccc;
  margin-left: 5px;
  width: 100%;
}

style { 
  display: block; 
  visibility: visible; 
  top: 20px; 
  left: 0px; 
  z-index: 1001; 
  opacity: 1; 
}

.display-select2-dropdown-in-datatable-footer {
  overflow: hidden;
  //overflow-y: visible;
  //overflow : auto ;
  border: 0px none; 
  width: 100%;
}

.fixed-th-width {
  width: 132px;
}

//scroll colVis
.dt-button-collection{
  max-height: 200px;
  overflow-y: scroll;
}


table {
  table-layout: fixed;
  word-wrap: break-word;
}
/*dropdown-menu[x-out-of-boundaries]{
  transform: translate3d(0px, 30px, 0px) !important; //give valid transform
//or use visiblity hidden;
}*/

.hr-full {
  border-bottom: 1px solid #ccc;
  //margin-left: 5px;
  width: 100%;
}
.bouttons{
  display: none;

}

/*$screen-breakpoints: (
  xs: 0, // Extra small screen / phone
  sm: 576px, // Small screen / phone
  md: 768px, // Medium screen / tablet
  lg: 992px, // Large screen / desktop
  xl: 1200px // Extra large screen / wide desktop
);*/

@media (max-width: 350px) {

  .hid-boutons-trop-petit-ecran {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .hid-boutons {
      display: none !important;
  }

  .hid-boutons-petit-ecran {
    display: none !important;
  }
}


@media (min-width: 576px) {
  .hid-action {
      display: none !important;
  }

  .hid-boutons-grand-ecran {
    display: none !important;
  }
}


.barre-verticale {
  -moz-box-shadow: inset -1px 0 0 #dedede;
  box-shadow: inset -1px 0 0 #dedede;
  //margin-left: 20px;
  margin-right: 4px;
}

.marge-pour-barre-verticale{
  margin-right: 7px;
}

}
