<ion-app>
  <ion-split-pane when="md" [disabled]=boutonMenuClass>
    <ion-menu> 
      <ion-header>
        <ion-toolbar>
          <ion-title>{{'MENU.MENU' | translate}}</ion-title>
          <ion-toggle slot="end" checked="true" (click)="boutonMenuClass = !boutonMenuClass" class="hidden-md"></ion-toggle>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <!--ion-avatar>
              <img src="assets/img/avatar/photo_pasport.png">
            </ion-avatar-->
                  
        <ion-list>
          <ng-container *ngFor="let p of appPages; let i = index">
            <ion-menu-toggle auto-hide="false" *ngIf="p.url">
              <ion-item [routerDirection]="'root'" (click)="replier()" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <!-- Item with Children -->
     
          <ion-item button *ngIf="p.children?.length > 0" (click)="derouler(i)" [class.parent-active]="p.open" detail="false">
            <!--ion-icon slot="start" [name]="p.icon"></ion-icon-->
            <ion-icon *ngIf="p.icon" [name]="p.icon" slot="start"></ion-icon>
            <ion-icon *ngIf="p.src" [src]="p.src" slot="start"></ion-icon>
            <ion-icon slot="end" name="ios-arrow-forward" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="end" name="ios-arrow-down" *ngIf="p.open"></ion-icon>
            <!--ion-icon slot="end" src="../assets/feather-icon/chevron-right.svg" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="end" src="../assets/feather-icon/chevron-down.svg" *ngIf="p.open"></ion-icon-->
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
       
            <!-- Children List for clicked Item -->
            <ion-list *ngIf="p.open">
              <ion-menu-toggle auto-hide="false" *ngFor="let sub of p.children; let j = index">
                <ion-item class="sub-item" [routerLink]="sub.url" routerLinkActive="active" [color]="sub.color">
                  <!--ion-icon [name]="sub.icon" slot="start"></ion-icon-->
                  <ion-icon *ngIf="sub.icon" [name]="sub.icon" slot="start"></ion-icon>
                  <ion-icon *ngIf="sub.src" [src]="sub.src" slot="start"></ion-icon>
                  <ion-label>
                    {{ sub.title }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
