<ion-list>
    <ion-item button (click)="region()" detail="true">
      <ion-label>{{'GENERAL.REGIONS' | translate}}</ion-label>
    </ion-item>
    <ion-item button (click)="departement()" detail="true">
      <ion-label>{{'GENERAL.DEPARTEMENTS' | translate}}</ion-label>
    </ion-item>
    <ion-item button (click)="commune()" detail="true">
      <ion-label>{{'GENERAL.COMMUNES' | translate}}</ion-label>
    </ion-item>
    <ion-item button (click)="localite()" detail="true">
      <ion-label>{{'GENERAL.LOCALITES' | translate}}</ion-label>
    </ion-item>
  </ion-list>