<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!idRegion" slot="start">
      <ion-menu-button *ngIf="!mobile || (mobile && action != 'infos' && action != 'modifier' && action != 'ajouter')"></ion-menu-button>
      <ion-button *ngIf="mobile && action != 'liste'" ion-button icon-only (click)="retour()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--Si liste mobile-->
    <ion-buttons *ngIf="mobile && action == 'liste' && estModeCocherElemListe" slot="start">
      <ion-button ion-button icon-only (click)="changerModeCocherElemListe()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

      <ion-badge>{{selectedIndexes.length}}</ion-badge>
    </ion-buttons>
    
    <ion-title *ngIf="action == 'liste'  && !estModeCocherElemListe">{{'REGION_PAGE.TITRE_LISTE' | translate}}</ion-title>
    <ion-title *ngIf="action == 'ajouter'">{{'REGION_PAGE.TITRE_AJOUTER' | translate}}</ion-title>
    <ion-title *ngIf="action == 'infos'">{{'REGION_PAGE.TITRE_INFO' | translate}}</ion-title>
    <ion-title *ngIf="action == 'modifier'">{{'REGION_PAGE.TITRE_MODIFIER' | translate}}</ion-title>

    <ion-buttons *ngIf="!idRegion && mobile && action == 'infos'" slot="end">
      <ion-button ion-button icon-only (click)="openRelationRegion($event)">
        <i style="font-size: 22px" class="mdi mdi-redo-variant mdi-rotate-90"></i>
      </ion-button>

      <ion-button ion-button icon-only (click)="listActionPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--Si liste mobile-->
    <ion-buttons *ngIf="mobile && action == 'liste'" slot="end">
      <ion-button [disabled]="!global.controlAccesModele('regions', 'suppression')" *ngIf="selectedIndexes.length > 0" color="danger" (click)="supprimerElemCocherListe()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
                
      <ion-button ion-button icon-only (click)="listOptionsPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--Close-->
    <ion-buttons *ngIf="idRegion || (idPays && action == 'liste')" slot="end">
      <ion-button title="{{'GENERAL.FERMER' | translate}}" ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="toolbar-border-top" *ngIf="!mobile && !idRegion">
    <ng-container *ngIf="action == 'liste'">

      <ion-buttons style="padding-left: 5px !important" class="hid-boutons" slot="start">
        <ion-button title="{{'GENERAL.SELECTIONNER_TOUS' | translate}}" *ngIf="!allSelected" slot="end" (click)="dataTableSelectAll()">
          <ion-icon name="square-outline"></ion-icon>
        </ion-button>

        <ion-button title="{{'GENERAL.DESELECTIONNER_TOUS' | translate}}" *ngIf="!allSelected && selectedIndexes.length > 0" slot="end" (click)="dataTableSelectNon()">
          <i style="font-size: 18px" class="fa fa-minus-square"></i>
        </ion-button>

        <ion-button title="{{'GENERAL.DESELECTIONNER_TOUS' | translate}}" *ngIf="allSelected" slot="end" (click)="dataTableSelectNon()">
          <ion-icon name="checkbox"></ion-icon>
        </ion-button>

        <ion-button [disabled]="!global.controlAccesModele('regions', 'lecture')" title="{{'GENERAL.RECHERGER_ANNULER' | translate}}" slot="end" (click)="doRefresh()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!recherchePlus" title="{{'GENERAL.AJOUTER_RECHERCHE_PAR_COLONNE' | translate}}" slot="end" (click)="dataTableAddRechercheParColonne()">
            <i style="font-size: 18px" class="fa fa-search-plus"></i>
        </ion-button>

        <ion-button *ngIf="recherchePlus" title="{{'GENERAL.SUPPRIMER_RECHERCHE_PAR_COLONNE' | translate}}" slot="end" (click)="dataTableRemoveRechercheParColonne()">
            <i style="font-size: 18px" class="fa fa-search-minus"></i>
        </ion-button>

        <ion-button *ngIf="!filterAjouter" title="{{'GENERAL.AJOUTER_FILTRE' | translate}}" slot="end" (click)="dataTableAddCustomFiltre()">
          <ion-icon name="ios-funnel"></ion-icon>
        </ion-button>

        <ion-button *ngIf="filterAjouter" title="{{'GENERAL.SUPPRIMER_FILTRE' | translate}}" slot="end" (click)="dataTableRemoveCustomFiltre()">
          <!--ion-icon style="font-size: 18px" src='../../../assets/svgs/remove-filter-2.svg'></ion-icon-->
          <i style="font-size: 18px" class="mdi mdi-filter-remove"></i>
        </ion-button>
      </ion-buttons>

      
      <ion-buttons class="hid-boutons" *ngIf="selectedIndexes.length > 0" slot="end">
        <ion-button [disabled]="!global.controlAccesModele('regions', 'lecture')" title="{{'GENERAL.AFFICHER_ENREGISTRMENT' | translate}}" slot="end" color="primary" (click)="selectedItemInfo()">
          <ion-icon name="eye"></ion-icon>
        </ion-button>

        <ion-button [disabled]="!global.controlAccesModele('regions', 'modification')" title="{{'GENERAL.MODIFIER_ENREGISTRMENT' | translate}}" slot="end" color="primary" (click)="selectedItemModifier()">
          <ion-icon  name="create"></ion-icon>
        </ion-button>

        <ion-button title="{{'GENERAL.ENREGISTRMENTS_LIES' | translate}}" slot="end" color="primary" (click)="openRelationRegionDepuisListe($event)">
          <i style="font-size: 22px" class="mdi mdi-redo-variant mdi-rotate-90"></i> 
        </ion-button>

        <ion-button [disabled]="!global.controlAccesModele('regions', 'suppression')" title="{{'GENERAL.SUPPRIMER_ENREGISTRMENTS' | translate}}" slot="end" color="danger" *ngIf="selectedIndexes.length > 0" (click)="suppressionMultiple()">
          <ion-icon  name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons class="hid-action" slot="end">
        <!--div [class.barre-verticale]="selectedIndexes.length > 0">
          <ion-button [class.marge-pour-barre-verticale]="selectedIndexes.length > 0" title="{{'GENERAL.OPTIONS ' | translate}}" slot="end" (click)="actionDatatablePopover($event)">
            <ion-icon name="more"></ion-icon>
          </ion-button>
        </div-->
        <ion-button title="{{'GENERAL.ACTION' | translate}}" fill="solid" color="primary" *ngIf="selectedIndexes.length > 0" slot="end" (click)="actionPopover($event)">
            <ion-icon name="construct"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>

    <!--Infos-->
    <ng-container *ngIf="action == 'infos'">
      <ion-buttons slot="start" style="padding-left: 5px !important">
        <ion-button title="{{'GENERAL.RETOUR' | translate}}" (click)="retour()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
 
        <ion-button [disabled]="!global.controlAccesModele('regions', 'lecture')" class="hid-boutons-petit-ecran" title="{{'GENERAL.MODIFIER' | translate}}" (click)="modifier(uneRegion)">
          <ion-icon name="create"></ion-icon>
        </ion-button>

        <ion-button title="{{'GENERAL.ENREGISTRMENTS_LIES' | translate}}" (click)="openRelationRegionDepuisListe($event)">
          <!--ion-icon name="redo"></ion-icon-->
          <i style="font-size: 22px" class="mdi mdi-redo-variant mdi-rotate-90"></i>
        </ion-button>

        <ion-button [disabled]="!global.controlAccesModele('regions', 'suppression')" class="hid-boutons-petit-ecran" color="danger" title="{{'GENERAL.SUPPRIMER' | translate}}" (click)="supprimer(uneRegion)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

        <ion-button class="hid-boutons-petit-ecran" title="{{'GENERAL.PLUS_DE_OPTIONS' | translate}}" (click)="datatableConstructPopover($event)">
          <ion-icon name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>

    <!--Si ajout ou modification--> 
    <ng-container *ngIf="action == 'modifier' || action == 'ajouter'">
      <ion-buttons slot="start" style="padding-left: 5px !important">
        <ion-button title="{{'GENERAL.RETOUR' | translate}}" slot="end" (click)="retour()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-item class="item-no-border" slot="end" style="padding-right: 5px !important"> 
        <ion-button title="{{'GENERAL.SAUVEGARDER' | translate}}" (click)="onSubmit()" type="submit" [disabled]="!regionForm.valid" color="success">
          <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button title="{{'GENERAL.ANNULER' | translate}}" color="light" class="m-l-5" (click)="annuler()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
  <ion-refresher *ngIf="action == 'liste'" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText= "{{'GENERAL.ACTUALISER' | translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'GENERAL.ACTUALISATION' | translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <!--Mode liste-->
  <ion-card [hidden]="action != 'liste'" *ngIf="(mobile && styleAffichage == 'liste')">
    <ion-card-header class="remove-card-header-padding">
      <ion-item class="card-header-item">
        <ion-searchbar placeholder="{{'GENERAL.RECHERCHER' | translate}}" (ionInput)="filter($event)" mode="ios" animated></ion-searchbar>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="regionsData && regionsData.length > 0">
        <ion-virtual-scroll [items]="regionsData">
          <ion-item-sliding *virtualItem="let p">
            <ion-item ion-long-press [interval]="400" (onPressing)="active()" (click)="infos(p)">
              <ion-label>
                <h2 ion-text-capitalize><!--strong>{{'REGION_PAGE.NOM' | translate}}:</strong-->{{p.nom}}</h2>
                <h3 ion-text-capitalize><!--strong>{{'REGION_PAGE.CODE' | translate}}:</strong-->{{p.code}}</h3>
                <p ion-text-capitalize><!--strong>{{'REGION_PAGE.NUMERO' | translate}}:</strong-->{{p.nomPays}}</p>
              </ion-label>
              <ion-checkbox [hidden]="!estModeCocherElemListe" (click)="cocherElemListe(p.id)" slot="end"></ion-checkbox>
            </ion-item>
    
            <ion-item-options [hidden]="estModeCocherElemListe || !global.controlAccesModele('regions', 'modification')" side="start">
              <ion-item-option (click)="modifier(p)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options> 
    
            <ion-item-options [hidden]="estModeCocherElemListe || !global.controlAccesModele('regions', 'suppression')" side="end">
              <ion-item-option color="danger" (click)="supprimer(p)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>  
        </ion-virtual-scroll>    
      </ng-container>
      
      <!--Si la liste est vide-->
      <ion-list *ngIf="!regionsData || !regionsData.length > 0" lines="none">        
        <ion-item class="vide">
          <ion-label>{{'GENERAL.LISTE_VIDE' | translate}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--Mode tableau-->
  <ion-card [hidden]="action != 'liste'" *ngIf="(mobile && styleAffichage == 'tableau') || !mobile">
    <ion-card-content>
      <!--les boutton export pour mobile-->
      <!--ng-container *ngIf="mobile && styleAffichage == 'tableau'">
        <ion-button size="small" (click)="exportExcel()" block>Excel</ion-button>
        <--ion-button size="small" color="light" class="m-l-5" (click)="exportPDF()" block>PDF</ion-button->
        <br>    
      </ng-container-->
      <!--Le tabelau-->
      <!--Toutes les regions-->
      <div *ngIf="!idPays" class="table-responsive" id="region"></div>
      
      <!--les région du pays sélectionnée-->
      <div *ngIf="idPays" class="table-responsive" id="region-pays"></div>
      <!--Si le tableau est vide>
      <ion-list *ngIf="!regionsData || !regionsData.length > 0" lines="none">        
        <ion-item class="vide">
          <ion-label>{{'GENERAL.LISTE_VIDE' | translate}}</ion-label>
        </ion-item>
      </ion-list-->
    </ion-card-content>
</ion-card>


<!--Infos-->
  <ion-card *ngIf="action == 'infos'" (dblclick)="modifier(uneRegion)">
    <ion-card-content>
      <ion-grid>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.PAYS' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentPays(uneRegion.idPays)">{{uneRegion.nomPays}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row><ion-col><h2><strong>{{'REGION_PAGE.CODE' | translate}}:</strong></h2></ion-col><ion-col>{{uneRegion.code}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row><ion-col><h2><strong>{{'REGION_PAGE.NUMERO' | translate}}:</strong></h2></ion-col><ion-col>{{uneRegion.numero}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'REGION_PAGE.NOM' | translate}}:</strong></h2></ion-col><ion-col>{{uneRegion.nom}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.LATITUDE' | translate}}:</strong></h2></ion-col><ion-col>{{uneRegion.latitude}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.LONGITUDE' | translate}}:</strong></h2></ion-col><ion-col>{{uneRegion.longitude}}</ion-col></ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="action == 'ajouter' || action == 'modifier'">
    <ion-card-content>
      <form [formGroup]="regionForm" (ngSubmit)="onSubmit()" novalidate>
        
        <!--Info pays-->
        <ion-row>
          <ion-col>
            <div id="idPays" class="form-group has-feedback">
              <label class="control-label field-required">{{'REGION_PAGE.SELECTIONPAYS' | translate}}</label>          
              <select class="select2 form-control" data-allow-clear="1">
                  <option></option>
                <option *ngFor="let p of paysData" [value]=p.id >{{p.nom}}</option>
              </select>
    
              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.idPays">
                  <p class="help-block" *ngIf="regionForm.get('idPays').hasError(validation.type)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div> 
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <div id="numero" class="form-group has-feedback">
              <label class="control-label field-required">{{'REGION_PAGE.NUMERO' | translate}}</label>
              <input ion-input formControlName="numero" type="text" placeholder="{{'REGION_PAGE.NUMERO' | translate}}" class="form-control" (keyup)="setInputRequredError('numero', 'numero')" (blur)="setCodeRegion(regionForm.value.numero)">
            
              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.numero">
                  <p class="help-block" *ngIf="regionForm.get('numero').hasError(validation.type) && (regionForm.get('numero').dirty || regionForm.get('numero').touched)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div id="code" class="form-group has-feedback">
              <label class="control-label field-required">{{'REGION_PAGE.CODE' | translate}}</label>
              <input ion-input formControlName="code" type="text" (keyup)="setInputRequredError('code', 'code')" placeholder="{{'REGION_PAGE.CODE' | translate}}" class="form-control" readonly>
            
              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.code">
                  <p class="help-block" *ngIf="regionForm.get('code').hasError(validation.type) && (regionForm.get('code').dirty || regionForm.get('code').touched)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>

          </ion-col>
        </ion-row>  

        <ion-row>
          <ion-col>
            <div id="nom" class="form-group has-feedback">
              <label class="control-label field-required">{{'REGION_PAGE.NOM' | translate}}</label>
              <input ion-input formControlName="nom" type="text" class="form-control" placeholder="{{'REGION_PAGE.NOM' | translate}}" (keyup)="setInputRequredError('nom', 'nom')">
          
              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.nom">
                  <p class="help-block" *ngIf="regionForm.get('nom').hasError(validation.type) && (regionForm.get('nom').dirty || regionForm.get('nom').touched)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>    
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <div class="form-group has-feedback">
              <label class="control-label">{{'GENERAL.LATITUDE' | translate}}</label>
              <input ion-input formControlName="latitude" type="number" class="form-control" placeholder="{{'GENERAL.LATITUDE' | translate}}">
            </div>
          </ion-col>
          <ion-col>
            <div class="form-group has-feedback">
              <label class="control-label">{{'GENERAL.LONGITUDE' | translate}}</label>
              <input ion-input formControlName="longitude" type="number" class="form-control" placeholder="{{'GENERAL.LONGITUDE' | translate}}">
            </div>
          </ion-col>
        </ion-row>

        <br>
        <div class="form-group text-right m-b-0">
            <ion-button type="submit" [disabled]="!regionForm.valid" color="success" block>{{'GENERAL.SAUVEGARDER' | translate}}</ion-button>
            <ion-button color="light" class="m-l-5" (click)="annuler()" block>{{'GENERAL.ANNULER' | translate}}</ion-button>
        </div> 
      </form>
    </ion-card-content>
  </ion-card>

  <br><br><br>
  <ion-fab *ngIf="action == 'liste' && global.controlAccesModele('regions', 'creation')" (click)="ajouter()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--ion-fab *ngIf="mobile && action == 'liste' && selectedIndexes.length" (click)="actionActionSheet()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
  </ion-fab-->

  <ion-fab *ngIf="!idRegion && action == 'infos' && global.controlAccesModele('regions', 'modification')" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="modifier(uneRegion)" color="primary"><ion-icon name="create"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="action == 'ajouter' || action == 'modifier'" (click)="getPosition()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


