<ion-header>
  <ion-toolbar>  
    <ion-buttons *ngIf="!idPartenaire" slot="start">
      <ion-menu-button *ngIf="!mobile || (mobile && action != 'infos' && action != 'modifier' && action != 'ajouter')"></ion-menu-button>
      <ion-button *ngIf="mobile && action != 'liste' && action != 'infos'" ion-button icon-only  (click)="retour()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="action == 'ajouter'">{{'MONINSTITUTION_PAGE.TITRE_AJOUTER' | translate}}</ion-title>
    <ion-title *ngIf="action == 'liste' || action == 'infos'">{{'MONINSTITUTION_PAGE.TITRE' | translate}}</ion-title>
    <ion-title *ngIf="action == 'modifier'">{{'MONINSTITUTION_PAGE.TITRE_MODIFIER' | translate}}</ion-title>

    <ion-buttons *ngIf="!idPartenaire && mobile && action == 'infos'" slot="end">
      <ion-button ion-button icon-only  (click)="openRelationPartenaire($event)">
        <i style="font-size: 22px" class="mdi mdi-redo-variant mdi-rotate-90"></i> 
      </ion-button>

      <ion-button ion-button icon-only (click)="listActionPopover($event)">
        <ion-icon name="ios-build"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="idPartenaire" slot="end" style="padding-right: 5px !important">
      <ion-button title="{{'GENERAL.FERMER' | translate}}" ion-button icon-only  (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!--Les bouton si mot mobile-->
  <ion-toolbar class="toolbar-border-top" *ngIf="!mobile && !idPartenaire && action != 'liste'">

    <!--Si infos-->
    <ng-container *ngIf="action == 'infos'">
        <ion-buttons slot="start" style="padding-left: 5px !important">
          <ion-button class="hid-boutons-petit-ecran" *ngIf="!unPartenaire.archived && !unPartenaire.deleted"  title="{{'GENERAL.MODIFIER' | translate}}" (click)="modifier(unPartenaire)">
            <ion-icon name="create"></ion-icon>
          </ion-button>

          <ion-button title="{{'GENERAL.ENREGISTRMENTS_LIES' | translate}}" slot="end" (click)="openRelationPartenaireDepuisTableau($event)">
            <!--ion-icon name="redo"></ion-icon-->
            <i style="font-size: 22px" class="mdi mdi-redo-variant mdi-rotate-90"></i>
          </ion-button>


          <ion-button class="hid-boutons-petit-ecran" color="danger" title="{{'GENERAL.SUPPRIMER' | translate}}" (click)="supprimer(unPartenaire)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          
          <ion-button class="hid-boutons-petit-ecran" title="{{'GENERAL.PLUS_DE_OPTIONS' | translate}}" (click)="datatableConstructPopover($event)">
            <ion-icon name="more"></ion-icon>
          </ion-button>

        </ion-buttons>           
      </ng-container>

      <!--Si ajout ou modification--> 
      <ng-container *ngIf="action == 'modifier' || action == 'ajouter'">
        <ion-buttons slot="start" style="padding-left: 5px !important">
          <ion-button title="{{'GENERAL.RETOUR' | translate}}" slot="end" (click)="retour()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-item class="item-no-border" slot="end" style="padding-right: 5px !important"> 
          <ion-button title="{{'GENERAL.SAUVEGARDER' | translate}}" (click)="onSubmit()" type="submit" [disabled]="!partenaireForm.valid" color="success">
            <ion-icon name="save"></ion-icon>
          </ion-button>
          <ion-button title="{{'GENERAL.ANNULER' | translate}}" color="light" class="m-l-5" (click)="annuler()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-item>
      </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
  <!--Mon institution non créée-->
  <ion-card *ngIf="action == 'liste'">
    <ion-card-content>
      <!--Si le tableau est vide-->
        <ion-list lines="none">        
          <ion-item class="vide">
            <ion-label>{{'MONINSTITUTION_PAGE.MONINSTITUTIONNONCREER' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      
    </ion-card-content>
</ion-card>


<!--Infos-->
  <ion-card *ngIf="action == 'infos'">
    <ion-card-content>
      <ion-grid  (dblclick)="modifier(unPartenaire)">
        <ion-row ><ion-col><h2><strong>{{'PARTENAIRE_PAGE.NOM' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.nom}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'PARTENAIRE_PAGE.NUMERO' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.numero}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'PARTENAIRE_PAGE.CATEGORIE' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.categorie}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'PARTENAIRE_PAGE.SECTEUR' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.secteur}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'PARTENAIRE_PAGE.DOMAINE' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.domaine}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'PARTENAIRE_PAGE.DATECREATION' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.dateCreation}}</ion-col></ion-row>
        <div class="hr"></div>

        <ion-row ><ion-col><h2><strong>{{'GENERAL.PAYS' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentPays(unPartenaire.idPays)">{{unPartenaire.nomPays}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.REGION' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentRegion(unPartenaire.idRegion)">{{unPartenaire.nomRegion}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.DEPARTEMENT' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentDepartement(unPartenaire.idDepartement)">{{unPartenaire.nomDepartement}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.COMMUNE' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentCommune(unPartenaire.idCommune)">{{unPartenaire.nomCommune}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.SIEGE' | translate}}:</strong></h2></ion-col><ion-col><a class="lien pointer" (click)="presentLocalite(unPartenaire.idSiege)">{{unPartenaire.nomSiege}}</a> </ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.LATITUDE' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.latitude}}</ion-col></ion-row>
        <div class="hr"></div>
        <ion-row ><ion-col><h2><strong>{{'GENERAL.LONGITUDE' | translate}}:</strong></h2></ion-col><ion-col>{{unPartenaire.longitude}}</ion-col></ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="action == 'ajouter' || action == 'modifier'">
    <!--ion-card-header>
      <ion-item class="card-header-item">
        <ion-card-title *ngIf="action == 'ajouter'">{{'PARTENAIRE_PAGE.FORMULAIRE_AJOUT' | translate}}</ion-card-title>
        <ion-card-title *ngIf="action == 'modifier'">{{'PARTENAIRE_PAGE.FORMULAIRE_MODIFICATION' | translate}}</ion-card-title>
      
        <ion-button title="{{'GENERAL.SAUVEGARDER' | translate}}" slot="end" (click)="onSubmit()" type="submit" [disabled]="!partenaireForm.valid" color="success" block>
          <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button title="{{'GENERAL.ANNULER' | translate}}" slot="end" color="light" class="m-l-5" (click)="annuler()" block>
            <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-header-->
    <ion-card-content>
      <form [formGroup]="partenaireForm" (ngSubmit)="onSubmit()">
        
        <ion-row>
          <ion-col>
              <div id="nom" class="form-group has-feedback">
                  <label class="control-label field-required">{{'PARTENAIRE_PAGE.NOM' | translate}}</label>
                  <input ion-input formControlName="nom" type="text" class="form-control" placeholder="{{'PARTENAIRE_PAGE.NOM' | translate}}" (keyup)="setInputRequredError('nom', 'nom')" required>
                
                  <div class="formio-errors invalid-feedback">
                    <ng-container *ngFor="let validation of messages_validation.nom">
                      <p class="help-block" *ngIf="partenaireForm.get('nom').hasError(validation.type) && (partenaireForm.get('nom').dirty || partenaireForm.get('nom').touched)">
                        {{ validation.message }}
                      </p>
                    </ng-container>
                  </div>
                </div>
            </ion-col>
          <ion-col>
            <div id="numero" class="form-group has-feedback">
              <label class="control-label field-required">{{'PARTENAIRE_PAGE.NUMERO' | translate}}</label>
              <input ion-input formControlName="numero" type="text"  class="form-control" placeholder="{{'PARTENAIRE_PAGE.NUMERO' | translate}}" (keyup)="setInputRequredError('numero', 'numero')" required>
            
              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.numero">
                  <p class="help-block" *ngIf="partenaireForm.get('numero').hasError(validation.type) && (partenaireForm.get('numero').dirty || partenaireForm.get('numero').touched)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>  


        <ion-row>
          <!--type-->
          <ion-col>
            <div id="categorie" class="form-group has-feedback">
              <label class="control-label field-required">{{'PARTENAIRE_PAGE.CATEGORIE' | translate}}</label>
              <select class="select2 form-control" data-allow-clear="1">
                <option></option>
                <option *ngFor="let t of categoriePartenaire" [value]=t.id >{{t.val}}</option>
              </select>

              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.categorie">
                  <p class="help-block" *ngIf="partenaireForm.get('categorie').hasError(validation.type) && (partenaireForm.get('categorie').dirty || partenaireForm.get('categorie').touched)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <!--secteur-->
          <ion-col>
            <div id="secteur" class="form-group has-feedback">
              <label class="control-label field-required">{{'PARTENAIRE_PAGE.SECTEUR' | translate}}</label>
              <select class="select2 form-control" data-allow-clear="1">
                <option></option>
                <option *ngFor="let s of secteurs" [value]=s.id >{{s.val}}</option>
              </select>

              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.secteur">
                  <p class="help-block" *ngIf="partenaireForm.get('secteur').hasError(validation.type) && (partenaireForm.get('secteur').dirty || partenaireForm.get('secteur').touched)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <!--domaine-->
          <ion-col>
            <div id="domaine" class="form-group has-feedback">
              <label class="control-label field-required">{{'PARTENAIRE_PAGE.DOMAINE' | translate}}</label>
              <select class="select2 form-control" data-allow-clear="1">
                <option></option>
                <option *ngFor="let d of domaines" [value]=d.id >{{d.val}}</option>
              </select>

              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.domaine">
                  <p class="help-block" *ngIf="partenaireForm.get('domaine').hasError(validation.type) && (partenaireForm.get('domaine').dirty || partenaireForm.get('domaine').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div id="dateCreation" class="form-group has-feedback">
              <label>{{'PARTENAIRE_PAGE.DATECREATION' | translate}}</label>
              <input ion-input formControlName="dateCreation" placeholder="{{'PARTENAIRE_PAGE.DATECREATION' | translate}}" class="form-control" type="date">
            </div>
          </ion-col>
        </ion-row>

        <!--Info pays et région-->
        <ion-row>
          <!--Pays-->
          <ion-col>
            <div id="idPays" class="form-group has-feedback">
              <label class="control-label field-required">{{'PARTENAIRE_PAGE.SELECTIONPAYS' | translate}}</label>
              <select class="select2 form-control" data-allow-clear="1">
                <option></option>
                <option *ngFor="let p of paysData" [value]=p.id >{{p.nom}}</option>
              </select>

              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.idPays">
                  <p class="help-block" *ngIf="partenaireForm.get('idPays').hasError(validation.type)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <!--Région-->
          <ion-col>
            <div id="idRegion" class="form-group has-feedback">
                <label class="control-label field-required">{{'PARTENAIRE_PAGE.SELECTIONREGION' | translate}}</label>
                <select class="select2 form-control" data-allow-clear="1">
                  <option></option>
                  <option *ngFor="let r of regionData" [value]=r.id >{{r.nom}}</option>
                </select>

                <div class="formio-errors invalid-feedback">
                  <ng-container *ngFor="let validation of messages_validation.idRegion">
                    <p class="help-block" *ngIf="partenaireForm.get('idRegion').hasError(validation.type)">
                      {{ validation.message }}
                    </p>
                  </ng-container>
                </div>
            </div>
          </ion-col>
        </ion-row>

        <!--Département et commune-->
        <ion-row>
          <ion-col>
            <!--Département-->
            <div id="idDepartement" class="form-group has-feedback">
              <label class="control-label field-required">{{'PARTENAIRE_PAGE.SELECTIONDEPARTEMENT' | translate}}</label>
              <select class="select2 form-control" data-allow-clear="1">
                <option></option>
                <option *ngFor="let d of departementData" [value]=d.id >{{d.nom}}</option>
              </select>

              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.idDepartement">
                  <p class="help-block" *ngIf="partenaireForm.get('idDepartement').hasError(validation.type)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>      
          </ion-col>
          <ion-col>
            <!--Commune-->
            <div id="idCommune" class="form-group has-feedback">
              <label class="control-label field-required">{{'PARTENAIRE_PAGE.SELECTIONCOMMUNE' | translate}}</label>
              <select  class="select2 form-control" data-allow-clear="1">
                <option></option>
                <option *ngFor="let c of communeData" [value]=c.id >{{c.nom}}</option>
              </select>

              <div class="formio-errors invalid-feedback">
                <ng-container *ngFor="let validation of messages_validation.idCommune">
                  <p class="help-block" *ngIf="partenaireForm.get('idCommune').hasError(validation.type)">
                    {{ validation.message }}
                  </p>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <!--Siège -- localité-->
            <div id="idSiege" class="form-group has-feedback">
                <label class="control-label field-required">{{'PARTENAIRE_PAGE.SELECTIONSIEGE' | translate}}</label>
                <select class="select2 form-control" data-allow-clear="1">
                  <option></option>
                  <option *ngFor="let l of localiteData" [value]=l.id >{{l.nom}}</option>
                </select>

                <div class="formio-errors invalid-feedback">
                  <ng-container *ngFor="let validation of messages_validation.idSiege">
                    <p class="help-block" *ngIf="partenaireForm.get('idSiege').hasError(validation.type)">
                      {{ validation.message }}
                    </p>
                  </ng-container>
                </div>
              </div>
          </ion-col>
        </ion-row>
        
        
        <!--Coordonnées géographiques-->
        <ion-row>
          <ion-col>
            <div class="form-group has-feedback">
              <label class="control-label">{{'GENERAL.LATITUDE' | translate}}</label>
              <input ion-input formControlName="latitude" type="number" class="form-control" placeholder="{{'GENERAL.LATITUDE' | translate}}">
            </div>
          </ion-col>
          <ion-col>
            <div class="form-group has-feedback">
              <label class="control-label">{{'GENERAL.LONGITUDE' | translate}}</label>
              <input ion-input formControlName="longitude" type="number" class="form-control" placeholder="{{'GENERAL.LONGITUDE' | translate}}">
            </div>
          </ion-col>
        </ion-row>
        
        <br>
        <ion-row>
          <ion-col>
            <div class="form-group text-right m-b-0">
              <ion-button type="submit" [disabled]="!partenaireForm.valid" color="success" block>{{'GENERAL.SAUVEGARDER' | translate}}</ion-button>
              <ion-button color="light" class="m-l-5" (click)="annuler()" block>{{'GENERAL.ANNULER' | translate}}</ion-button>
            </div> 
          </ion-col>
        </ion-row>
      </form>

    </ion-card-content>
  </ion-card>

  <br><br><br>
  <ion-fab *ngIf="!mobile && action == 'liste'" (click)="ajouter()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="mobile && action == 'liste' && !selectedIndexes.length" (click)="ajouter()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--ion-fab *ngIf="mobile && action == 'liste' && selectedIndexes.length" (click)="actionActionSheet()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
  </ion-fab-->

  <ion-fab *ngIf="mobile && !idPartenaire && action == 'infos' && cacheAction != 'archives'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="modifier(unPartenaire)" color="primary"><ion-icon name="create"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!mobile && !idPartenaire && action == 'infos' && cacheAction == 'liste'" (click)="modifier(unPartenaire)" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="action == 'ajouter' || action == 'modifier'" (click)="getPosition()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
